CONFIG_CLI_API_WIFI?=n
CONFIG_SAE?=y
CONFIG_AUTH_CONTROL?=y
CONFIG_STA_SIG_INFO?=y
CONFIG_WPA_SUPP_CRYPTO?=mbedtls
CONFIG_COAP?=n
CONFIG_7393_7394_WORKAROUND?=y
CONFIG_UCODE?=y
CONFIG_RF_KILL?=n
CONFIG_USE_HW_SECURITY_ACC_BN?=y
CONFIG_WDT?=y
CONFIG_SCAN_IGNORE?=y
CONFIG_SOFT_AP?=n
CONFIG_TSF_SYNC_PROBE_REQ?=y
CONFIG_STA_SUPPORT_8M?=y
CONFIG_NEW_TASK_ARCH?=y
CONFIG_SELF_CONFIG_USE?=n
CONFIG_ELOOP?=eloop_freeRTOS
CONFIG_WPS_PS_HOOK?=y
CONFIG_FLASH_PROFILE?=profile1
CONFIG_CLI?=y
CONFIG_LWIP?=n
CONFIG_BOOT_NONCE_IE?=y
CONFIG_TLS?=mbedtls
CONFIG_WPA_MSG?=y
CONFIG_IEEE8021X_EAPOL?=y
CONFIG_TWT?=y
CONFIG_FREERTOS?=n
CONFIG_TSF_SYNC_VENDOR_IE?=y
CONFIG_MQTT_RECOVERY?=n
CONFIG_RF_RECOVERY_BY_BCM?=n
CONFIG_EXT_RAM?=n
CONFIG_DL_TRANSMIT_BY_WQ?=n
CONFIG_TXPWR_COMPENSATE?=y
CONFIG_MODEM_PS_HALT?=n
CONFIG_TCP_KEEPALIVE?=y
CONFIG_ONLY_STA?=y
CONFIG_WTS?=y
CONFIG_DYNAMIC_FRAG?=y
CONFIG_SFLASH_PAGE_PROG?=y
CONFIG_SET_WIM_BY_WQ?=n
CONFIG_UMAC_PRESP?=n
CONFIG_KR_MIC_SCAN?=y
CONFIG_CONVERT_NON_QOSDATA?=n
CONFIG_DPP2?=y
CONFIG_TWT_NDP_PAGING?=n
CONFIG_MXML?=n
CONFIG_ONLY_AP?=n
CONFIG_USE_HW_SECURITY_ACC_SHA?=n
CONFIG_FAST_RECOVERY?=y
CONFIG_FLASH_SIZE_LOWER?=4m
CONFIG_ADAPTIVE_GI?=y
CONFIG_IEEE80211N?=y
CONFIG_WPS_TESTING?=y
CONFIG_CLI_MINIMUM?=y
CONFIG_MANUAL_CONT_TX_SUPPORT?=y
CONFIG_CJSON?=n
CONFIG_PMF_SWENC?=n
CONFIG_RTC_ALWAYS_ON?=y
CONFIG_TDLS_TESTING?=y
CONFIG_SCAN_DEBUG?=n
CONFIG_MANUAL_AGG_NUM?=y
CONFIG_FLASH_SIZE?=4M
CONFIG_NDP_PREQ?=y
CONFIG_BD?=y
CONFIG_NRC_DRIVER_EVENT?=y
CONFIG_HW_KEY_REMOVE_WORKAROUND?=y
CONFIG_DRIVER_FREERTOS?=y
CONFIG_MEASURE_AIRTIME?=n
CONFIG_OWE?=y
CONFIG_LWIP_RECOVERY?=n
CONFIG_STANDALONE_USER_LIBRARY?=y
CONFIG_DMA_COPY?=y
CONFIG_BCAST_FOTA_STA?=y
CONFIG_DEFRAG?=y
CONFIG_UCODE_TX?=y
CONFIG_MATCH_OP_BW_PREQ_PRSP?=n
CONFIG_CLI_HALOW?=y
CONFIG_USE_SMALL_MEM?=n
CONFIG_REMOTECMD?=y
CONFIG_CONVERT_BLOCK_ACK?=y
CONFIG_MANAGE_BLACKLIST?=n
CONFIG_AUTH_CONTROL_PS?=y
CONFIG_AMPDU_REORDER?=n
CONFIG_DEBUG?=n
CONFIG_BACKEND?=nrc
CONFIG_AVOID_FRAG_ATTACK?=y
CONFIG_H2E?=y
CONFIG_SOFTAP_OWE?=n
CONFIG_WPA_SUPP?=n
CONFIG_L2_PACKET?=freeRTOS
CONFIG_OS?=freeRTOS
CONFIG_BG_SCAN?=y
CONFIG_DUTYCYCLE?=y
CONFIG_PMKSA_CACHE_EXTERNAL?=y
CONFIG_TESTING_OPTIONS?=y
CONFIG_BGSCAN_SIMPLE?=y
CONFIG_FAST_CONNECT?=n
CONFIG_DPP?=y
CONFIG_DEFAULT_FLASH_SIZE?=4M
CONFIG_USE_TEMP_SENSOR?=n
CONFIG_AMPDU_AUTO_TX?=y
CONFIG_PS_SCHEDULE?=y
CONFIG_CTRL_IFACE?=freeRTOS
CONFIG_1MBW_CENTER_LO?=y
CONFIG_NEW_V_SNPRINTF_SUPPORT?=n
CONFIG_MODEM_SLEEP?=n
CONFIG_NO_STDOUT_DEBUG?=y
CONFIG_NO_CONFIG_WRITE?=y
CONFIG_STA_CSA_SUPPORT?=y
CONFIG_NO_GITVER?=y
CONFIG_MQTT?=n
CONFIG_RTC_DYNAMIC_PS?=y
CONFIG_PS_DEBUG_ALWAYSONMEM?=n
CONFIG_PS_SKIP_QOS_NULL_BCMC?=y
CONFIG_TINYCBOR?=n
CONFIG_S1G_HOOK?=y
CONFIG_LOG_MINIMUM?=n
CONFIG_MODEM_RECOVERY?=y
CONFIG_PS_NONPOLL?=y
CONFIG_RXGAIN_CONTROL?=y
CONFIG_MULTI_STA_RC?=n
CONFIG_RUNRAM?=y
CONFIG_NO_FAST_ASSOC?=y
CONFIG_SOFT_AP_PS_SUPPORT?=y
CONFIG_LEGACY_ACK?=y
CONFIG_NO_RANDOM_POOL?=y
CONFIG_BEACON_BYPASS?=y
CONFIG_DPP3?=y
CONFIG_SUPPORT_AP_SCAN?=n
CONFIG_MAIN?=main_freeRTOS
CONFIG_LOG?=n
CONFIG_SCAN_MODE?=y
CONFIG_MBEDTLS?=n
CONFIG_SFLASH_DP?=y
CONFIG_HT_OVERRIDES?=y
CONFIG_IEEE80211W?=y
CONFIG_IPV6?=n
